h3 {
  font-size: 4rem;
}

.why-savenotes {
  text-align: justify;
  margin-top: 1.25rem;
}

.about-section {
  padding-top: 5.9rem;
  padding-bottom: 1.5rem;
}
.mid-container {
  padding-top: 6.25rem;
}

.Carousel {
  text-align: justify;
  margin-top: 1.25rem;
}

.carhead {
  padding-top: 3rem;
  text-align: left;
}

.carpara {
  padding-top: 1rem;
}
